* {
  padding: 0px;
  margin : 0px;
}
body {
    background-color: lightblue;
}
#container{
display: flex;
justify-content: space-around;
align-items: center;
margin: 10px 400px;
}
.add {
    padding: 10px;
    background-color: pink;
}

.reset {
    background-color:green;
    padding: 10px;
  }
table, th, td {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: solid;
  border-collapse: collapse;
  border-color: black;
}
a{
  padding: 10px;

}